<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Neighborhood Comparison</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
    <!-- this is wher I cut all the stuff -->
    <script src="https://d3js.org/d3.v4.min.js"></script>
<script>
$(document).ready(function() {
    $('.dropdown-toggle').dropdown()
});
</script>
</body>
</html>